body {
  font-family: Cambria, sans-serif;
  margin: 20px;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #333;
  font-size: 20px;
}

header {
  background-color: #3F0FA6;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: large;
}

.intro-line {
  font-size: 30px;
  margin-top: 20px;
  display: inline-flex;     
  align-items: center;
  gap: 8px;
}

.main {
  display:inline-table;
  align-items: center;
  padding-left: 20%;
}

h2 {
  margin-bottom: 10px;
  background-color:lightcoral;
  width:fit-content;
}

ul {
  list-style-type: square;
  padding-left: 50px;
}

.project {
  margin-bottom: 15px;
}

img{
  height: 20px;
  width: 20px;
}

.emailID{
  display: flex;
  align-items:center;
  gap: 20px;                
  margin: 5px 0;
}

button{
  background-color: #ffffff;
  border-radius: 25px;
  padding: 8px;
  text-align: center;
  text-decoration: bold;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background-origin: padding-box;
  font-family: cambria;
  font-size: 15px;
  display: inline-block;
  

}









